<header>
  <!-- navigation bar -->
  <nav>
    <div class="nav-wrapper">

      <!-- menu todolist icon that is hidden on full screen-->
      <a href="#" data-activates="toDoTab" class="button-collapse"><i class="material-icons">menu</i></a>

      <!-- logo -->
      <a href="#" class="brand-logo center">Eatinerary</a>

      <ul class="right">
        <li><a class="modal-trigger" href="#searchModal"><i class="material-icons">search</i></a></li>

        <!-- option menu icon -->
        <li><a class='dropdown-button' href='#' data-activates='menuDropDown' data-beloworigin="true"><i class="material-icons">more_vert</i></a></li>
      </ul>

      <!-- options menu -->
      <ul id='menuDropDown' class='dropdown-content'>
        <li><a href="/logout">Log out</a></li>
      </ul>
    </div>
  </nav>

  <!-- Sidetab/ todotab -->
  <div id="toDoTab" class="side-nav fixed">
    <div class="brand-logo center"><h4>My Eats</h4><hr></div>
    <ul class="collapsible" data-collapsible="accordion">
      {{#each user}}
      <li>
        <div class="collapsible-header"><i class="material-icons">label</i>{{this.dataValues.title}}</div>
        <div class="collapsible-body" id="commentBody">
            <h3 id="info-title">Restaurant Info</h3>
            <p id="rest-add">Address: {{this.dataValues.address}}</p>
            <p id="rest-city">City: {{this.dataValues.city}}</p>
            <p id="rest-state">State: {{this.dataValues.state}}</p>
            <p id="rest-num">Phone: {{this.dataValues.restaurantPhone}}
            <p id="rest-link">Link: {{this.dataValues.restaurantURL}}</p>
            <p id="rest-comment">Comment: {{this.dataValues.description}}</p>
              <a href = "/myList/deleteItem/{{this.dataValues.id}}" id="deleteButton">Delete Item</a>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>

  <!-- search modal -->
  <div id="searchModal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h5 id="search-dest">Search places by destination</h5>
      <form class="col s12">

        <!-- keywords -->
        <div class="row">
          <div class="input-field col s12">
            <input id="keywordSearch" type="text" class="validate">
            <label for="keywordSearch">Enter keywords (optional)</label>
          </div>
        </div>


        <div class="row">
          <!-- city -->
          <div class="input-field col s6">
            <input id="citySearch" type="text" class="validate">
            <label for="citySearch">City</label>
          </div>
          <!-- state -->
          <div class="input-field col s6">
            <select id="stateSearch">
              <option value="" disabled selected>Choose your option</option>
              <option value="AL">AL</option>
              <option value="AK">AK</option>
              <option value="AZ">AZ</option>
              <option value="AR">AR</option>
              <option value="CA">CA</option>
              <option value="CO">CO</option>
              <option value="CT">CT</option>
              <option value="DE">DE</option>
              <option value="FL">FL</option>
              <option value="GA">GA</option>
              <option value="HI">HI</option>
              <option value="ID">ID</option>
              <option value="IL">IL</option>
              <option value="IN">IN</option>
              <option value="IA">IA</option>
              <option value="KS">KS</option>
              <option value="KY">KY</option>
              <option value="LA">LA</option>
              <option value="ME">ME</option>
              <option value="MD">MD</option>
              <option value="MA">MA</option>
              <option value="MI">MI</option>
              <option value="MN">MN</option>
              <option value="MS">MS</option>
              <option value="MO">MO</option>
              <option value="MT">MT</option>
              <option value="NE">NE</option>
              <option value="NV">NV</option>
              <option value="NH">NH</option>
              <option value="NJ">NJ</option>
              <option value="NM">NM</option>
              <option value="NY">NY</option>
              <option value="NC">NC</option>
              <option value="ND">ND</option>
              <option value="OH">OH</option>
              <option value="OK">OK</option>
              <option value="OR">OR</option>
              <option value="PA">PA</option>
              <option value="RI">RI</option>
              <option value="SC">SC</option>
              <option value="SD">SD</option>
              <option value="TN">TN</option>
              <option value="TX">TX</option>
              <option value="UT">UT</option>
              <option value="VT">VT</option>
              <option value="VA">VA</option>
              <option value="WA">WA</option>
              <option value="WV">WV</option>
              <option value="WI">WI</option>
              <option value="WY">WY</option>
            </select>
            <label>State</label>
          </div>

        </div>

        <!-- range -->
        <div class="row">
          <div class="col s7">
            <p class="range-field">
              <label for="rangeSearch">Number of results</label>
              <input type="range" id="rangeSearch" min="1" max="20" />
            </p>
          </div>
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" id="searchButton" class="modal-action modal-close waves-effect waves-green btn-flat">Search</a>
    </div>
  </div>

  <!-- add modal -->
  <div id="addModal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h5 id="addRestHeader">Add a restaurant to your Eatinerary</h5>
      <div class="row">
        <form class="col s12">

          <!-- Restaurant Name -->
          <div class="row">
            <div class="input-field col s12">
              <input id="restaurantNameInput" type="text" class="validate">
              <label for="restaurantNameInput">Restaurant Name</label>
            </div>
          </div>

          <!-- comment -->
          <div class="row">
            <div class="input-field col s12">
              <input id="commentInput" type="text" class="validate">
              <label for="commentInput">Comment</label>
            </div>
          </div>

          <!-- streetAddress -->
          <div class="row">
            <div class="input-field col s12">
              <input id="addressInput" type="text" class="validate">
              <label for="addressInput">Address</label>
            </div>
          </div>

          <!-- City and State -->
          <div class="row">
            <!-- city -->
            <div class="input-field col s6">
              <input id="cityInput" type="text" class="validate">
              <label for="cityInput">City</label>
            </div>
            <!-- state -->
            <div class="input-field col s6">
              <select id = "stateInput">
                <option value="" disabled selected>Choose your option</option>
                <option value="AL">AL</option>
                <option value="AK">AK</option>
                <option value="AZ">AZ</option>
                <option value="AR">AR</option>
                <option value="CA">CA</option>
                <option value="CO">CO</option>
                <option value="CT">CT</option>
                <option value="DE">DE</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="IA">IA</option>
                <option value="KS">KS</option>
                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="ME">ME</option>
                <option value="MD">MD</option>
                <option value="MA">MA</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MS">MS</option>
                <option value="MO">MO</option>
                <option value="MT">MT</option>
                <option value="NE">NE</option>
                <option value="NV">NV</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>
                <option value="NY">NY</option>
                <option value="NC">NC</option>
                <option value="ND">ND</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>
                <option value="VT">VT</option>
                <option value="VA">VA</option>
                <option value="WA">WA</option>
                <option value="WV">WV</option>
                <option value="WI">WI</option>
                <option value="WY">WY</option>
              </select>
              <label>State</label>
            </div>

          </div>

          <!-- Phone -->
          <div class="row">
            <div class="input-field col s12">
              <input id="phoneInput" type="text" class="validate">
              <label for="phoneInput">Restaurant Phone Number</label>
            </div>
          </div>

          <!-- website -->
          <div class="row">
            <div class="input-field col s12">
              <input id="websiteInput" type="text" class="validate">
              <label for="websiteInput">Restaurant URL</label>
            </div>
          </div>

          <div class="row">
            <div class="switch col s6">
              <h6>Would you like an email reminder sent?</h6>
              <label>
                Off
                <input type="checkbox" id="reminderInput">
                <span class="lever"></span>
                On
              </label>
            </div>
            <div class="col s6">
              <h6>Set reminder date</h6>
              <input id="dateInput" type="date" class="datepicker">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn waves-effect waves-light" type="submit" name="action" id = "addToDo">Submit <i class="material-icons right">send</i>
      </button>
    </div>
  </div>

</header>

<main>
  <div class="row">
    <div class="col s12 m7 l8" style = "height: 100%; width: 100%" id="googleMaps">
    </div>
  </div>

  <div class="fixed-action-btn modal-trigger" href="#addModal">
    <a class="btn-floating btn-large green">
    <i class="large material-icons">playlist_add</i>
    </a>
  </div>
</main>
